*.py[cod]

# C extensions
*.so

# pycharm
.idea/
.idea
*.iml


# VS Code
.vscode

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
dist

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/core/_build

# Cookiecutter
output/
venv/
.ipynb_checkpoints
logs/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml

.mypy_cache/
.coverage*
coverage.txt
.hypothesis

.DS_Store
