pytest
pytest-cov
Cython==3.0a7
mypy==0.812
flake8
hypothesis[pandas]
typing_extensions
types-setuptools
types-simplejson
types-dataclasses; python_version < '3.7'
types-PyYAML
types-pkg-resources
ipywidgets
